<h2>Your submission was successful!</h2>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="@Url.Action("Forms", "Contact", new { formType = "Accounting" })" class="btn btn-primary btn-block">Muhasebe Formları</a>
        </li>
        <li class="list-group-item">
            <a href="@Url.Action("Forms", "Contact", new { formType = "Technical Support" })" class="btn btn-primary btn-block">Teknik Destek Formları</a>
        </li>
        <li class="list-group-item">
            <a href="@Url.Action("Forms", "Contact", new { formType = "Human Resources" })" class="btn btn-primary btn-block">İnsan Kaynakları Formları</a>
        </li>
    </ul>
</div>
